﻿body {
    background: none;
}

body,
button,
input,
select,
textarea {
	color: #666;	
}

h1
{
	font-weight: bold;
	color: #4478CD;
}

h1, h2, h3, h4 {
	color: #4a5c69;
}

.navbar-default {
    background-color: white;
    background-image: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #333;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
    color: #333;
    background-color: transparent;
}

.navbar .navbar-nav>li>a,.navbar-brand {
    text-shadow:none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus 
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #333;

    background-color: rgba(0,0,0,.05);
    border: none;
    text-decoration: none
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
    color: #333;
    text-decoration: none;
    background-color: rgba(0,0,0,.05);
}

a
{
	color: #5B8EC1;
}

.well {
    background-color:white;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: none;
    box-shadow:none;
}

ul.nav.navbar-nav.navbar-right li:first-of-type a {
   color: #F68D2E !important; 
}

ul.nav.navbar-nav.navbar-right a {
   color: #b0c641 !important;
}
@media(max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .container>.navbar-collapse {
        background-color: white;
    }
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border-color: #e0e0e0;
}

.navbar-default .navbar-toggle {
    border-color: #e0e0e0;
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar.navbar-default.navbar-fixed-top {
    background-color: white;
    height: 4px;
    bottom: 0;
    border: 0;
    background-position: 0px 46px;
    background-image: -webkit-linear-gradient(left,#4ac7ed 17px,#f68d2e 17px,#f68d2e 25%,#7c878e 25%,#7c878e 50%,#afc836 50%,#afc836 100%);
    background-image: -moz-linear-gradient(left,#4ac7ed 17px,#f68d2e 17px,#f68d2e 25%,#7c878e 25%,#7c878e 50%,#afc836 50%,#afc836 100%);
    background-image: -o-linear-gradient(left,#4ac7ed 17px,#f68d2e 17px,#f68d2e 25%,#7c878e 25%,#7c878e 50%,#afc836 50%,#afc836 100%);
    background-image: linear-gradient(to left,#4ac7ed 17px,#f68d2e 17px,#f68d2e 25%,#7c878e 25%,#7c878e 50%,#afc836 50%,#afc836 100%);
    background-image: -ms-linear-gradient(to left,#4ac7ed 17px,#f68d2e 17px,#f68d2e 25%,#7c878e 25%,#7c878e 50%,#afc836 50%,#afc836 100%);
}

blockquote {
    background: #dbf4fb;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border-left: 5px solid #4ac7ed;
}

blockquote p {
    font-size: 14px;
}